* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5vh;
    z-index: 5;
    transition: 0.2s linear;
    overflow: hidden;
}

.first {
    height: 25vh;
    background-color: #1e3d58;
}

.main {
    height: 1000vh;
    background-color: #e8eef1;
}

.last {
    height: 50vh;
    background-color: #1e3d58;
}

p {
    padding-top: 80px;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
}

.main p {
    color: #1e3d58;
}
